header form input[type=text] {
    background: #FFF;
    width: 100%;
    border-radius: 100px;
    border: none;
    padding: 10px 20px;
}

header form button {
    background: none;
    border: none;
    position: absolute;
    right: 25px;
    margin-top: 8px;
}

header ul li {
    position: relative;
}

header ul li span.notificacao {
    color: #000;
    background: #fff;
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

header ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

header ul li a svg {
    font-size: 23px;
}

header ul li a:hover {
    color: initial;
}